#talk-the-better-parts.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 The Better Parts

            p
              include:markdown crockford.md

            .portfolio-item
              span.portfolio-link
                img(
                  src='images/speakers/douglas_crockford.jpg', 
                  srcset='images/speakers/douglas_crockford@2x.jpg 2x', 
                  alt='Douglas Crockford',
                  width='400',
                  height='289'
                )
              .portfolio-caption
                h4 Douglas Crockford
                p.text-muted
                  a(href='https://paypal.com/') PayPal
                ul.list-inline.social-buttons
                  li
                    a(href='https://github.com/douglascrockford')
                      i.fa.fa-github-alt
                  li
                    a(href='http://www.crockford.com/')
                      i.fa.fa-globe

            p
              include:markdown crockford.bio.md

            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              | &nbsp;Close Abstract
