#talk-it-takes-a-village.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 It Takes a Village to Make a Programmer

            p
              include:markdown guido.md

            .portfolio-item
              span.portfolio-link
                img(
                  src='images/speakers/michele_guido.jpg',
                  srcset='images/speakers/michele_guido@2x.jpg 2x',
                  alt='Michele Guido',
                  width='400',
                  height='289'
                )
              .portfolio-caption
                h3 Michele Guido
                p.text-muted
                  a(href='https://www.sociomantic.com/') sociomantic labs
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/sheley')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/sheley')
                      i.fa.fa-github-alt

            p
              include:markdown guido.bio.md

            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close Abstract
