#talk-teaching-kids.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 How Teaching Kids Made Me a Better Developer

            p
              include:markdown huidobro.md

            .portfolio-item
              span.portfolio-link
                img(
                  src='images/speakers/ramon_huidobro.jpg', 
                  srcset='images/speakers/ramon_huidobro@2x.jpg 2x', 
                  alt='Ramón Huidobro',
                  width='400',
                  height='289'
                )
              .portfolio-caption
                h3 Ramón Huidobro
                ul.list-inline.social-buttons
                  li
                    a(href='http://twitter.com/senorhuidobro')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/ramonh')
                      i.fa.fa-github-alt
                  li
                    a(href='http://ramonh.github.io/')
                      i.fa.fa-globe

            p
              include:markdown huidobro.bio.md

            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close Abstract
