#talk-the-meaning-of-words.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 The Meaning of Words

            p
              include:markdown seidt.md

            .portfolio-item
              span.portfolio-link
                //- .portfolio-hover
                //-   .portfolio-hover-content
                    //- i.fa.fa-plus.fa-3x
                img(
                  src='images/speakers/stephan_seidt.jpg',
                  srcset='images/speakers/stephan_seidt@2x.jpg 2x',
                  alt='Stephan Seidt',
                  width='400',
                  height='289'
                )
              .portfolio-caption
                h3 Stephan Seidt
                p.text-muted
                  | Multiply • #{''}
                  a(href='https://contentful.com/') Contentful
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/evilhackerdude')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/ehd')
                      i.fa.fa-github-alt

            p
              include:markdown seidt.bio.md

            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close Abstract
