#talk-no-more-tools.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 No More Tools

            p
              include:markdown szczur.md

            .portfolio-item
              span.portfolio-link
                img(
                  src='images/speakers/karolina_szczur.jpg',
                  srcset='images/speakers/karolina_szczur@2x.jpg 2x',
                  alt='Karolina Szczur',
                  width='400',
                  height='289'
                )
              .portfolio-caption
                h3 Karolina Szczur
                p.text-muted
                  a(href='https://andyet.com/') &yet
                ul.list-inline.social-buttons
                  li
                    a(href='https://twitter.com/fox')
                      i.fa.fa-twitter
                  li
                    a(href='https://github.com/thefoxis')
                      i.fa.fa-github-alt
                  li
                    a(href='http://thefox.is/')
                      i.fa.fa-globe

            p
              include:markdown szczur.bio.md

            button.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              | &nbsp;Close Abstract
