mixin speaker(name, talk, href, twitter)
  mixin inner()
    img(
      src='images/speakers/#{thumb}_thumb.jpg',
      srcset='images/speakers/#{thumb}_thumb@2x.jpg 2x',
      alt=name,
      width='150',
      height='150'
    )
    .info
      h4 #{name + ' '}
        if href
          small= twitter
        else
          small
            a(href='https://twitter.com/' + twitter)= twitter
      p= talk

  - var thumb = name.toLowerCase().replace(/[^a-zA-Z ]/g, '').replace(' ','_')
  if href
    a.speaker(href=href, data-toggle='modal')&attributes(attributes)
      +inner()
  else
    div.speaker&attributes(attributes)
      +inner()
