section#about
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Let's get together
        h3.section-subheading.text-muted
          | to share knowledge across programming-languages and cultures to learn new things and have fun
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-group.fa-stack-1x.fa-inverse
        h4.service-heading It's all about the people
        p.text-muted
          | We invite the web development community from Austria and the entire world to Salzburg. Have a brilliant and safe conference where you can meet old and new friends to expand your knowledge and horizon.
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-html5.fa-stack-1x.fa-inverse
        h4.service-heading The Web
        p.text-muted
          | Come and hear talks about the wide variety of web topics and its community so you can build better applications for more platforms, devices and humans. Yes – the web is definitely a great place to be in.
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-institution.fa-stack-1x.fa-inverse
        h4.service-heading The Location
        p.text-muted
          | We're hosted by the University of Applied Sciences in Salzburg. Not only do they have a modern building that makes for a productive, yet comfortable environment to learn, but high-quality courses with a dedicated web focus.
section#salzburg
  .container
    .row
      .col.lg-12.text-center
        h3.section-heading Salzburg
    .row
      .col-md-4.col-md-offset-2
        img(
          width='360'
          height='240'
          alt='Old Town Salzburg across the Salzach river'
          src='/images/salzburg.jpg'
          srcset='/images/salzburg@2x.jpg 2x'
        )
        p.text-center
          a(href='http://www.robo.guru/') Jiuguang Wang
          | –
          a(href='https://creativecommons.org/licenses/by-sa/3.0/deed.en') CC-BY-SA 3.0
      .col-md-4.text-muted
        include:markdown salzburg.md
