ul.list-group.col-md-4
  h2.text-center Party
  a(href='https://www.facebook.com/pages/Essbar-Curry11/365576843593030')
    #essbar.panel.panel-default
      img(
        width='375'
        height='220'
        alt='Essbar Party Location'
        src='/images/essbar_night.jpg'
        srcset='/images/essbar_night@2x.jpg 2x'
      )
      div
        h3.text-center Essbar #{' '}
          small Party Location
      img.default(
        width='375'
        height='220'
        alt='Essbar Party Location'
        src='/images/essbar.jpg'
        srcset='/images/essbar@2x.jpg 2x'
      )
