section#speakers.bg-light-gray
  .container
    .row#keynote
      .col-md-6.col-md-offset-3.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/douglas_crockford.jpg', 
            srcset='images/speakers/douglas_crockford@2x.jpg 2x', 
            alt='Douglas Crockford',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Douglas Crockford
          p.text-muted
            | Keynote Speaker
          ul.list-inline.social-buttons
            li
              a(href='https://github.com/douglascrockford')
                i.fa.fa-github-alt
            li
              a(href='http://www.crockford.com/')
                i.fa.fa-globe
    .row
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/lena_reinhard.jpg', 
            srcset='images/speakers/lena_reinhard@2x.jpg 2x', 
            alt='Lena Reinhard',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Lena Reinhard
          p.text-muted
            a(href='http://hood.ie') Hood.ie
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/lrnrd')
                i.fa.fa-twitter
            li
              a(href='https://github.com/ffffux')
                i.fa.fa-github-alt
            li
              a(href='http://schoenaberselten.com/hi-there/')
                i.fa.fa-globe
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/eric_schoffstall.jpg', 
            srcset='images/speakers/eric_schoffstall@2x.jpg 2x',
            alt='Eric Schoffstall'
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Eric Schoffstall
          p.text-muted
            a(href='http://gulpjs.com/') gulp.js
            | &nbsp;•&nbsp;
            a(href='http://wearefractal.com/') Fractal
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/contrahacks')
                i.fa.fa-twitter
            li
              a(href='https://github.com/contra')
                i.fa.fa-github-alt
            li
              a(href='http://contra.io/')
                i.fa.fa-globe

    .row
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/karolina_szczur.jpg',
            srcset='images/speakers/karolina_szczur@2x.jpg 2x',
            alt='Karolina Szczur',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Karolina Szczur
          p.text-muted
            a(href='https://andyet.com/') &yet
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/fox')
                i.fa.fa-twitter
            li
              a(href='https://github.com/thefoxis')
                i.fa.fa-github-alt
            li
              a(href='http://thefox.is/')
                i.fa.fa-globe
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/michele_guido.jpg',
            srcset='images/speakers/michele_guido@2x.jpg 2x',
            alt='Michele Guido',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Michele Guido
          p.text-muted
            a(href='https://www.sociomantic.com/') sociomantic labs
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/sheley')
                i.fa.fa-twitter
            li
              a(href='https://github.com/sheley')
                i.fa.fa-github-alt
    .row
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/vitaly_friedman.jpg',
            srcset='images/speakers/vitaly_friedman@2x.jpg 2x',
            alt='Vitaly Friedman',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Vitaly Friedman
          p.text-muted
            a(href='http://www.smashingmagazine.com/') Smashing Magazine
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/smashingmag')
                i.fa.fa-twitter
            li
              a(href='https://dribbble.com/smashingmag')
                i.fa.fa-dribbble
            li
              a(href='https://plus.google.com/101951294740286010890')
                i.fa.fa-google-plus
  .container
    .row#cfp
      .col-md-8.col-md-offset-2
        include:markdown speakers.md
