section#speakers.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading
          | 17 inter
          wbr
          | national Speakers
        h3.section-subheading.text-muted Listen and talk to these fine folks
    .row
      .col-md-6
        //- h4.track
        //-   em Your name here
        //-   | -Track
        a.speaker
          img(
            src='images/speakers/douglas_crockford_thumb.jpg',
            srcset='images/speakers/douglas_crockford_thumb@2x.jpg 2x',
            alt='Douglas Crockford',
            width='150',
            height='150'
          )
          .info
            h5 Douglas Crockford
        a.speaker
          img(
            src='images/speakers/lena_reinhard_thumb.jpg',
            srcset='images/speakers/lena_reinhard_thumb@2x.jpg 2x',
            alt='Lena Reinhard',
            width='150',
            height='150'
          )
          .info
            h5
              | Lena Reinhard&nbsp;
              wbr
              small @lrnrd
        a.speaker.has-abstract(href='#talk-the-meaning-of-words', data-toggle='modal')
          img(
            src='images/speakers/stephan_seidt_thumb.jpg',
            srcset='images/speakers/stephan_seidt_thumb@2x.jpg 2x',
            alt='Stephan Seidt',
            width='150',
            height='150'
          )
          .info
            h5
              | Stephan Seidt&nbsp;
              wbr
              small @evilhackerdude
            p The Meaning of Words
        a.speaker
          img(
            src='images/speakers/vitaly_friedman_thumb.jpg',
            srcset='images/speakers/vitaly_friedman_thumb@2x.jpg 2x',
            alt='Vitaly Friedman',
            width='150',
            height='150'
          )
          .info
            h5
              | Vitaly Friedman&nbsp;
              wbr
              small @smashingmag

      .col-md-6
        //- h4.track
        //-   em Your name here
        //-   | -Track
        a.speaker
          img(
            src='images/speakers/karolina_szczur_thumb.jpg',
            srcset='images/speakers/karolina_szczur_thumb@2x.jpg 2x',
            alt='Karolina Szczur',
            width='150',
            height='150'
          )
          .info
            h5
              | Karolina Szczur&nbsp;
              wbr
              small @fox
        a.speaker
          img(
            src='images/speakers/eric_schoffstall_thumb.jpg',
            srcset='images/speakers/eric_schoffstall_thumb@2x.jpg 2x',
            alt='Eric Schoffstall',
            width='150',
            height='150'
          )
          .info
            h5
              | Eric Schoffstall&nbsp;
              wbr
              small @contrahacks
        a.speaker.has-abstract(href='#talk-it-takes-a-village', data-toggle='modal')
          img(
            src='images/speakers/michele_guido_thumb.jpg',
            srcset='images/speakers/michele_guido_thumb@2x.jpg 2x',
            alt='Michele Guido',
            width='150',
            height='150'
          )
          .info
            h5
              | Michele Guido&nbsp;
              wbr
              small @sheley
            p It Takes a Village to Make a Programmer
        a.speaker
          img(
            src='images/speakers/thumb.jpg',
            srcset='images/speakers/thumb@2x.jpg 2x',
            alt='more speakers',
            width='150',
            height='150'
          )
          .info
            h5
              | More Speakers…&nbsp;
            p There are ten more talk slots for which we received more than 160 proposals. We will announce the final selection soon.
