section#speakers.bg-light-gray
  .container
    .row
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/lena_reinhard.jpg', 
            srcset='images/speakers/lena_reinhard@2x.jpg 2x', 
            alt='Lena Reinhard',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Lena Reinhard
          p.text-muted
            a(href='http://hood.ie') Hood.ie
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/lrnrd')
                i.fa.fa-twitter
            li
              a(href='https://github.com/ffffux')
                i.fa.fa-github-alt
            li
              a(href='http://schoenaberselten.com/hi-there/')
                i.fa.fa-globe
    .row
      .col-md-6.portfolio-item
        span.portfolio-link
          img(
            src='images/speakers/vitaly_friedman.jpg',
            srcset='images/speakers/vitaly_friedman@2x.jpg 2x',
            alt='Vitaly Friedman',
            width='400',
            height='289'
          )
        .portfolio-caption
          h4 Vitaly Friedman
          p.text-muted
            a(href='http://www.smashingmagazine.com/') Smashing Magazine
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/smashingmag')
                i.fa.fa-twitter
            li
              a(href='https://dribbble.com/smashingmag')
                i.fa.fa-dribbble
            li
              a(href='https://plus.google.com/101951294740286010890')
                i.fa.fa-google-plus
  .container
    .row#cfp
      .col-md-8.col-md-offset-2
        include:markdown speakers.md
