section#sponsors
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Our Sponsors
        h3.section-subheading.text-muted
          | We have a wide variety of sponsoring opportunities available.&nbsp;
          a(href='https://ti.to/concat/2015?release_id=opbhj2hxpqq') Talk to us
    .row
      .col-md-3.col-sm-6
        a(href='http://fh-salzburg.ac.at/')
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/fh.jpg', 
            srcset='images/logos/fh@2x.jpg 2x',
            alt='University of Applied Science Salzburg'
          )
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/designmodo.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/themeforest.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/creative-market.jpg', alt='')
