section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors
        h3.section-subheading.text-muted
          | We have a wide variety of sponsoring opportunities available.&nbsp;
          a(href='mailto:sponsoring@conc.at') Talk to us

    .row.biggest
      .col-xs-12.text-center
        h4 Sponsors
        .row
          a.sponsor.free.col-md-6.col-md-offset-3(
              href='mailto:sponsoring@conc.at',
              title='Send us your sponsoring inquiry'
            )
            .fa.fa-plus.fa-3x
          .clearfix.visible-sm
    
    //- .row.biggest
    //-   .col-xs-12.text-center
    //-     h4 Track Sponsors
    //-     .row
    //-       a.sponsor.free.col-md-6(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x
    //-       .clearfix.visible-sm
    //-       a.sponsor.free.col-md-6(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x

    //- .row.big
    //-   .col-md-3.text-center
    //-     h4 Party Sponsor
    //-     .row
    //-       a.sponsor.free.col-md-12.col-md-offset-0.col-xs-8.col-xs-offset-2(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x
    //-   .col-md-9.text-center
    //-     h4 Booths
    //-     .row
    //-       a.sponsor.free.col-md-4.col-md-offset-0.col-xs-8.col-xs-offset-2(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x
    //-       a.sponsor.free.col-md-4.col-md-offset-0.col-xs-8.col-xs-offset-2(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x
    //-       a.sponsor.free.col-md-4.col-md-offset-0.col-xs-8.col-xs-offset-2(
    //-           href='mailto:sponsoring@conc.at',
    //-           title='Send us your sponsoring inquiry'
    //-         )
    //-         .fa.fa-plus.fa-3x

    .row
      .col-xs-12.text-center
        //- h4 Event Sponsors
        .row
          a.sponsor.col-md-2.col-sm-3.col-xs-6(
              href='http://fh-salzburg.ac.at/',
              title='University of Applied Science Salzburg'
            )
            img.img-responsive.img-centered(
              width='200',
              height='75',
              src='images/logos/fh.jpg', 
              srcset='images/logos/fh@2x.jpg 2x',
              alt='University of Applied Sciences Salzburg'
            )
          a.sponsor.free.col-md-2.col-sm-3.col-xs-6(
              href='http://coworkingsalzburg.com/',
              title='Coworking Salzburg'
            )
            img.img-responsive.img-centered(
              width='200',
              height='75',
              src='images/logos/cws.jpg', 
              srcset='images/logos/cws@2x.jpg 2x',
              alt='Coworking Salzburg'
            )
          a.sponsor.free.col-md-2.col-sm-3.col-xs-6(
              href='http://die.netzarchitekten.com/',
              title='Die Netzartchitekten'
            )
            img.img-responsive.img-centered(
              width='200',
              height='75',
              src='images/logos/dna.png', 
              srcset='images/logos/dna@2x.png 2x',
              alt='Die Netzartchitekten'
            )

          a.sponsor.free.col-md-2.col-sm-3.col-xs-6(
              href='http://excellenteasy.com/',
              title='excellenteasy'
            )
            img.img-responsive.img-centered(
              width='200',
              height='75',
              src='images/logos/ee.png', 
              srcset='images/logos/ee@2x.png 2x',
              alt='excellenteasy'
            )

          //- a.sponsor.free.col-md-2.col-sm-3.col-xs-6(
          //-     href='mailto:sponsoring@conc.at',
          //-     title='Send us your sponsoring inquiry'
          //-   )
          //-   .fa.fa-plus.fa-3x
          //- a.sponsor.free.col-md-2.col-sm-3.col-xs-6(
          //-     href='mailto:sponsoring@conc.at',
          //-     title='Send us your sponsoring inquiry'
          //-   )
          //-   .fa.fa-plus.fa-3x

      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/designmodo.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/themeforest.jpg', alt='')
      //- .col-md-3.col-sm-6
      //-   a(href='#')
      //-     img.img-responsive.img-centered(src='images/logos/creative-market.jpg', alt='')
