section#sponsors
  .container
    .row
      .col-md-12.text-center
        h2.section-heading Our Sponsors

    .row
      .col-md-offset-2.col-md-8
        a.sponsor.col-sm-6(
            href='http://tech.zalando.com/',
            title='Zalando Technology'
          )
          img.img-responsive.img-centered(
            width='400',
            height='150',
            src='images/logos/zalando.png', 
            srcset='images/logos/zalando@2x.png 2x',
            alt='Zalando Technology'
          )

        a.sponsor.col-sm-6(
            href='http://pusher.com/',
            title='Pusher'
          )
          img.img-responsive.img-centered(
            width='400',
            height='150',
            src='images/logos/pusher.png',
            srcset='images/logos/pusher@2x.png 2x',
            alt='Pusher'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://braintreepayments.com/',
            title='Braintree Payments'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/braintree.png', 
            srcset='images/logos/braintree@2x.png 2x',
            alt='Braintree Payments'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='https://aws.amazon.com/',
            title='Amazon Web Services'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/aws.png', 
            srcset='images/logos/aws@2x.png 2x',
            alt='Amazon Web Services'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://travis-ci.com',
            title='Travis CI'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/travis.png', 
            srcset='images/logos/travis@2x.png 2x',
            alt='Travis CI'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://hood.ie/',
            title='Hoodie'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/hoodie.png', 
            srcset='images/logos/hoodie@2x.png 2x',
            alt='Hoodie'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://mandrill.com/',
            title='Mandrill'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/mandrill.png', 
            srcset='images/logos/mandrill@2x.png 2x',
            alt='Mandrill'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://gesagt-getan.at/',
            title='gesagt.getan'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/gg.png', 
            srcset='images/logos/gg@2x.png 2x',
            alt='gesagt.getan'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://techtrrrs.at/',
            title='techtrrrs'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/techtrrrs.png', 
            srcset='images/logos/techtrrrs@2x.png 2x',
            alt='techtrrrs'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://die.netzarchitekten.com/',
            title='Die Netzarchitekten'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/dna.png', 
            srcset='images/logos/dna@2x.png 2x',
            alt='Die Netzarchitekten'
          )


        a.sponsor.col-sm-3.col-xs-6(
            href='http://coworkingsalzburg.com/',
            title='Coworking Salzburg'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/cws.jpg', 
            srcset='images/logos/cws@2x.jpg 2x',
            alt='Coworking Salzburg'
          )

        a.sponsor.col-sm-3.col-xs-6(
            href='http://fh-salzburg.ac.at/',
            title='University of Applied Science Salzburg'
          )
          img.img-responsive.img-centered(
            width='200',
            height='75',
            src='images/logos/fh.jpg', 
            srcset='images/logos/fh@2x.jpg 2x',
            alt='University of Applied Sciences Salzburg'
          )

    .row.text-center
      | We still have a wide variety of sponsoring opportunities available.&nbsp;
      a(href='mailto:sponsoring%40conc.at?subject=Sponsoring%20inquiry&body=Hey%20.concat()%20Team%2C%0Acould%20you%20please%20send%20me%20your%20sponsoring%20material%3F%0A%0ABest') Please talk to us.
