section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Your Team
        h3.section-subheading.text-muted 
          | The conference is brought to you by us. You may 
          a(href='mailto:contact@conc.at') contact us 
          |  anytime.
    .row
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/stephan.jpg', 
            srcset='images/team/stephan@2x.jpg 2x', 
            alt='Stephan Bönnemann'
          )
          h4 Stephan Bönnemann
          p.text-muted
            a(href='http://excellenteasy.com') excellenteasy
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/boennemann')
                i.fa.fa-twitter
            li
              a(href='https://github.com/boennemann')
                i.fa.fa-github-alt
            li
              a(href='http://boennemann.me/')
                i.fa.fa-globe
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/floor.jpg', 
            srcset='images/team/floor@2x.jpg 2x', 
            alt='Floor Drees'
          )
          h4 Floor Drees
          p.text-muted
            a(href='http://sektor5.at') sektor5
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/floordrees')
                i.fa.fa-twitter
            li
              a(href='https://github.com/floord')
                i.fa.fa-github-alt
            li
              a(href='http://floordrees.tumblr.com/')
                i.fa.fa-globe
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/hannes.jpg', 
            srcset='images/team/hannes@2x.jpg 2x', 
            alt='Hannes Moser'
          )
          h4 Hannes Moser
          p.text-muted
            a(href='http://cnuddl.com') cnuddl
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/eliias')
                i.fa.fa-twitter
            li
              a(href='https://github.com/eliias')
                i.fa.fa-github-alt
            li
              a(href='http://die.netzarchitekten.com/')
                i.fa.fa-globe
      .col-sm-3
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/christoph.jpg', 
            srcset='images/team/christoph@2x.jpg 2x', 
            alt='Christoph Witzko'
          )
          h4 Christoph Witzko
          p.text-muted
            | Freelancer
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/christophwitzko')
                i.fa.fa-twitter
            li
              a(href='https://github.com/christophwitzko')
                i.fa.fa-github-alt
            li
              a(href='https://christophwitzko.com/')
                i.fa.fa-globe

    .row
      .col-lg-8.col-lg-offset-2.text-center
        p.text-muted
          include:markdown fh.md
