section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Your Team
        h3.section-subheading.text-muted The conference is brought to you by these people
    .row
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/stephan.jpg', 
            srcset='images/team/stephan@2x.jpg 2x', 
            alt='Stephan Bönnemann'
          )
          h4 Stephan Bönnemann
          p.text-muted excellenteasy
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/boennemann')
                i.fa.fa-twitter
            li
              a(href='https://github.com/boennemann')
                i.fa.fa-github-alt
            li
              a(href='http://boennemann.me/')
                i.fa.fa-globe
      .col-sm-6
        .team-member
          img.img-responsive.img-circle(
            width='225',
            height='225',
            src='images/team/hannes.jpg', 
            srcset='images/team/hannes@2x.jpg 2x', 
            alt='Hannes Moser'
          )
          h4 Hannes Moser
          p.text-muted FH-Salzburg
          ul.list-inline.social-buttons
            li
              a(href='https://twitter.com/eliias')
                i.fa.fa-twitter
            li
              a(href='https://github.com/eliias')
                i.fa.fa-github-alt
            li
              a(href='http://die.netzarchitekten.com/')
                i.fa.fa-globe
    //- .row
    //-   .col-lg-8.col-lg-offset-2.text-center
    //-     p.large.text-muted
    //-       | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
