ul.list-group.col-md-4
  h2.text-center Travel
  .panel.panel-default
    li.list-group-item 
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.salzburg-airport.com/en/') Salzburg Airport W. A. Mozart
    li.list-group-item 
      i.fa.fa-plane.fa-fw
      | #{' '}
      a(href='http://www.munich-airport.de/en/') Munich International Airport
      small #{' '}+ 2h Train
    li.list-group-item 
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='http://www.oebb.at/en/Services/Services_at_the_station/Station_information/Station/index.jsp?pk_bfnr=1114&ort=salzburg&nextrow=1') Salzburg Main Station
    li.list-group-item 
      i.fa.fa-train.fa-fw
      | #{' '}
      a(href='http://www.oebb.at/en/Services/Services_at_the_station/Station_information/Station/index.jsp?dispatcher=true&pk_bfnr=1129&ort=urstein&nextrow=1') S3 Puch Urstein
      | #{' '}
      small Venue
    li.list-group-item 
      i.fa.fa-bus.fa-fw
      | #{' '} 160 Puch Urstein #{' '}
      small Venue
